@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #08121e;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#84add1), color-stop(#92b6d6), color-stop(#a1c0db), color-stop(#afc9e1), to(#bdd3e6));
  background-image: -webkit-linear-gradient(top, #84add1, #92b6d6, #a1c0db, #afc9e1, #bdd3e6);
  background-image: -o-linear-gradient(top, #84add1, #92b6d6, #a1c0db, #afc9e1, #bdd3e6);
  background-image: linear-gradient(to bottom, #84add1, #92b6d6, #a1c0db, #afc9e1, #bdd3e6); }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px #000 inset;
  box-shadow: 0px 0px 3px #000 inset;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #737373;
  -webkit-box-shadow: 0px 1px 1px #33aef5 inset;
  box-shadow: 0px 1px 1px #33aef5 inset;
  background-image: url(../img/three-lines.png);
  background-size: 11px;
  background-position: center;
  background-repeat: no-repeat; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 0px; }

::-webkit-scrollbar {
  width: 11px; }

.wrapper_first-theme {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1920px;
  width: 80%;
  background-color: #e4f0f5; }

.header_first-theme {
  margin: 0 auto 10px;
  line-height: 55px;
  border-radius: 0 0 5px 5px; }

.header__global-navigation_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1491d8), color-stop(#259be0), color-stop(#33a4e7), color-stop(#3faeef), to(#4bb8f6));
  background-image: -webkit-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: -o-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: linear-gradient(to top, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6); }
  .header__global-navigation_first-theme .header__h1_first-theme {
    margin: 5px 15px;
    padding: 0;
    font-size: 38px;
    color: white; }
  .header__global-navigation_first-theme .header__nav_first-theme,
  .header__global-navigation_first-theme .date-ul_first-theme {
    margin: 0;
    padding: 0; }
  .header__global-navigation_first-theme .header__nav_first-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.search-information_first-theme {
  margin: 0; }

.selected-appeals_first-theme {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: right;
  background-color: #f3fafd; }

.selected-appeals__span_first-theme {
  font-weight: bold; }

.selected-appeals__link_first-theme {
  margin-right: 11px; }

.search__form_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 20px auto 20px; }

.search__textarea_first-theme {
  width: 230px;
  outline: none;
  resize: none;
  border: 1px solid gray;
  border-radius: 5px; }
  .search__textarea_first-theme:hover {
    border: 1px solid #4bb8f6; }
  .search__textarea_first-theme:focus {
    border: 1px solid #4bb8f6; }

.search__by-text_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px; }

.search__by-appeal-number_first-theme {
  margin: 10px; }

.search__by-telephone-number_first-theme {
  margin: 10px; }

.search__button_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 1px solid #2e7fb2;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  font-weight: bold;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1491d8), color-stop(#259be0), color-stop(#33a4e7), color-stop(#3faeef), to(#4bb8f6));
  background-image: -webkit-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: -o-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: linear-gradient(to top, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
  margin: 10px;
  width: 70px;
  height: 45px; }
  .search__button_first-theme:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#179ce7), color-stop(#2ea5ec), color-stop(#3faef0), color-stop(#4eb7f5), to(#5cc0f9));
    background-image: -webkit-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
    background-image: -o-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
    background-image: linear-gradient(to top, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9); }
  .search__button_first-theme:active {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1387c9), color-stop(#2491d1), color-stop(#319bd9), color-stop(#3ea5e1), to(#49afe9));
    background-image: -webkit-linear-gradient(bottom, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9);
    background-image: -o-linear-gradient(bottom, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9);
    background-image: linear-gradient(to top, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9); }

.switch-button_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 5px auto;
  width: 230px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid gray;
  height: 21px;
  overflow: hidden;
  background-color: white; }
  .switch-button_first-theme .switch-button__input_first-theme {
    display: none; }
  .switch-button_first-theme .switch-button__label_first-theme {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    line-height: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #8c8c8c;
    cursor: pointer; }
    .switch-button_first-theme .switch-button__label_first-theme:hover {
      color: #595959;
      background-color: #d9d9d9; }
  .switch-button_first-theme .switch-button__input_first-theme[type="radio"]:checked + .switch-button__label_first-theme {
    color: #f2f2f2;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1491d8), color-stop(#259be0), color-stop(#33a4e7), color-stop(#3faeef), to(#4bb8f6));
    background-image: -webkit-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
    background-image: -o-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
    background-image: linear-gradient(to top, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6); }
    .switch-button_first-theme .switch-button__input_first-theme[type="radio"]:checked + .switch-button__label_first-theme:hover {
      background-image: -webkit-gradient(linear, left bottom, left top, from(#179ce7), color-stop(#2ea5ec), color-stop(#3faef0), color-stop(#4eb7f5), to(#5cc0f9));
      background-image: -webkit-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
      background-image: -o-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
      background-image: linear-gradient(to top, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9); }

.search__p_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav__img_first-theme,
.appeal__img_first-theme {
  width: 30px; }

.nav__ul_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.nav__li_first-theme,
.sections__li_first-theme,
.section-navigation__li_first-theme {
  display: inline-block; }

.section-navigation__li_first-theme {
  margin-left: 3px;
  padding-right: 8px;
  vertical-align: middle;
  line-height: 2;
  border-right: 2px solid #e7e7e7; }
  .section-navigation__li_first-theme:first-child::before {
    content: ">";
    color: #828080;
    margin-right: 10px; }
  .section-navigation__li_first-theme:last-child {
    border: none; }

.nav__li_first-theme {
  margin: 0 15px; }
  .nav__li_first-theme:last-child {
    width: 30px;
    height: 30px; }

.nav__link_first-theme {
  position: relative;
  font-size: 18px;
  color: white; }
  .nav__link_first-theme .nav__img_first-theme {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px; }

.nav__link_first-theme,
.sections__link_first-theme,
.section-navigation__link_first-theme,
.search__link_first-theme {
  text-decoration: none; }

.sections__link_first-theme,
.sections__current-section__first-theme {
  font-weight: bold;
  color: white; }

.sections__current-section__first-theme {
  margin-right: 5px; }

.sections__li_first-theme {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid #e7e7e7; }
  .sections__li_first-theme:first-child {
    margin-top: 5px; }
  .sections__li_first-theme:last-child {
    border: none; }
  .sections__li_first-theme .sections__link_first-theme {
    margin-left: 5px;
    line-height: 30px; }

.section-navigation__link_first-theme {
  font-weight: bold;
  color: #828080; }
  .section-navigation__link_first-theme:hover {
    color: #a8a7a7; }

.section-navigation__link_open-section {
  text-decoration: underline; }

.sections_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white; }

.section__button-wrapper_first-theme {
  position: relative;
  margin: 10px 15px; }

.sections__button_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 1px solid #2e7fb2;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  font-weight: bold;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1491d8), color-stop(#259be0), color-stop(#33a4e7), color-stop(#3faeef), to(#4bb8f6));
  background-image: -webkit-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: -o-linear-gradient(bottom, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  background-image: linear-gradient(to top, #1491d8, #259be0, #33a4e7, #3faeef, #4bb8f6);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
  width: 300px;
  height: 45px; }
  .sections__button_first-theme:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#179ce7), color-stop(#2ea5ec), color-stop(#3faef0), color-stop(#4eb7f5), to(#5cc0f9));
    background-image: -webkit-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
    background-image: -o-linear-gradient(bottom, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);
    background-image: linear-gradient(to top, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9); }
  .sections__button_first-theme:active {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1387c9), color-stop(#2491d1), color-stop(#319bd9), color-stop(#3ea5e1), to(#49afe9));
    background-image: -webkit-linear-gradient(bottom, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9);
    background-image: -o-linear-gradient(bottom, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9);
    background-image: linear-gradient(to top, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9); }

.sections__img_first-theme {
  width: 10px; }

.sections__ul_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  margin: 15px auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  line-height: 24px;
  border: 1px solid #2e7fb2;
  border-radius: 5px;
  background-color: #1491d8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 9999; }

.sections_first-theme .sections__ul_close,
.appeal__rest-text-span_close {
  display: none; }

.section-navigation__nav_first-theme {
  margin: 0 10px 0 0; }

.content-wrapper_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dates-sidebar_first-theme {
  margin-right: 30px;
  width: 22%;
  overflow-x: hidden;
  overflow-y: overlay;
  border-radius: 5px; }

.date_first-theme {
  margin: 5px auto;
  width: 269px; }
  .date_first-theme:first-child {
    margin-top: 10px; }
  .date_first-theme:last-child {
    margin-bottom: 10px; }

.date__name_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #d9d9da;
  font-weight: bold;
  color: #0a89d1;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), color-stop(#e0e0e0), color-stop(#e8e8e8), color-stop(#f1f1f1), to(#fafafa));
  background-image: -webkit-linear-gradient(bottom, #d7d7d7, #e0e0e0, #e8e8e8, #f1f1f1, #fafafa);
  background-image: -o-linear-gradient(bottom, #d7d7d7, #e0e0e0, #e8e8e8, #f1f1f1, #fafafa);
  background-image: linear-gradient(to top, #d7d7d7, #e0e0e0, #e8e8e8, #f1f1f1, #fafafa); }
  .date__name_first-theme .date__month_first-theme {
    margin-left: 5px; }
  .date__name_first-theme .date__day_first-theme,
  .date__name_first-theme .date__month_first-theme {
    font-weight: bold;
    color: #0a89d1; }
  .date__name_first-theme:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eaeaea), color-stop(#eeeeee), color-stop(#f2f2f2), color-stop(#f6f6f6), to(#fafafa));
    background-image: -webkit-linear-gradient(bottom, #eaeaea, #eeeeee, #f2f2f2, #f6f6f6, #fafafa);
    background-image: -o-linear-gradient(bottom, #eaeaea, #eeeeee, #f2f2f2, #f6f6f6, #fafafa);
    background-image: linear-gradient(to top, #eaeaea, #eeeeee, #f2f2f2, #f6f6f6, #fafafa);
    font-weight: bold;
    color: #0a89d1; }
    .date__name_first-theme:hover .date__day_first-theme,
    .date__name_first-theme:hover .date__month_first-theme {
      font-weight: bold;
      color: #0a89d1; }
      .date__name_first-theme:hover .date__day_first-theme::before,
      .date__name_first-theme:hover .date__month_first-theme::before {
        font-weight: bold;
        color: #0a89d1; }

.date__name_arrow-right::before {
  content: "\25b6";
  font-weight: bold;
  color: #ef8c08;
  margin: 0 10px;
  font-size: 15px; }

.date__name_arrow-down {
  background-color: white;
  border: 2px solid #fbd850;
  border-radius: 5px 5px 0 0;
  color: #ef8c08; }
  .date__name_arrow-down .date__day_first-theme,
  .date__name_arrow-down .date__month_first-theme {
    font-weight: bold;
    color: #ef8c08; }
  .date__name_arrow-down::before {
    content: "\25bc";
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
    color: #ef8c08;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.date__ul_first-theme {
  margin: 5px auto;
  padding: 5px 0;
  background-color: #f0f0f0;
  border-radius: 5px; }

.date__ul_close {
  display: none; }

.date__li_first-theme {
  position: relative;
  list-style-type: none;
  margin-left: 40px;
  margin-top: 15px; }
  .date__li_first-theme:first-child {
    margin-top: 5px; }
  .date__li_first-theme .date__time-span_first-theme {
    text-decoration: underline; }
    .date__li_first-theme .date__time-span_first-theme:hover {
      text-decoration: underline; }
  .date__li_first-theme .date__start-hour-span_first-theme,
  .date__li_first-theme .date__start-minutes-span_first-theme,
  .date__li_first-theme .date__end-hour-span_first-theme,
  .date__li_first-theme .date__end-minutes-span_first-theme,
  .date__li_first-theme .date__appeal-refresh-span_first-theme {
    font-weight: bold; }

.date__li_selected .date__time-span_first-theme {
  color: white;
  background-color: #33aef5; }

.date__li_selected .date__start-hour-span_first-theme,
.date__li_selected .date__start-minutes-span_first-theme,
.date__li_selected .date__end-hour-span_first-theme,
.date__li_selected .date__end-minutes-span_first-theme,
.date__li_selected .date__appeal-refresh-span_first-theme {
  color: white; }

.date__appeal-refresh-span_close {
  display: none; }

.main-content_first-theme {
  margin: 0 auto;
  width: 75%; }

.main-content__h2_first-theme,
.main-content__date-span_first-theme,
.main-content__day__first-theme,
.main-content__month__first-theme,
.main-content__time-span_first-theme {
  font-size: 30px; }

.main-content__h2_first-theme {
  margin: 10px;
  text-align: center; }

.appeals-container_first-theme {
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: #f3fafd; }

.appeal_first-theme {
  margin: 0;
  width: 97%;
  border: 2px solid #e4f0f5; }
  .appeal_first-theme:first-child {
    margin-top: 10px; }
  .appeal_first-theme:nth-child(even) {
    background-color: #f3fafd; }
  .appeal_first-theme:nth-child(odd) {
    background-color: #ddeaf0; }
  .appeal_first-theme:hover {
    background-color: #ecfbd4; }

.appeal__wrapper_first-theme {
  position: relative; }

.appeal__date_first-theme {
  margin-right: 5px;
  color: #818181; }

.appeal__status_first-theme {
  margin: 0 5px;
  font-style: italic;
  color: #818181; }

.appeal__information_first-theme {
  display: inline-block;
  margin: 10px 30px 0; }
  .appeal__information_first-theme .appeal__not-viewed_first-theme {
    position: relative; }
    .appeal__information_first-theme .appeal__not-viewed_first-theme::before {
      position: absolute;
      top: -22px;
      content: url(../img/not-viewed-little.png); }
    .appeal__information_first-theme .appeal__not-viewed_first-theme:hover::before {
      top: -22px;
      content: url(../img/viewed-changed2.png); }

.appeal__interactions_first-theme {
  position: relative;
  display: inline-block;
  float: right;
  margin: 10px 30px 0; }

.appeal__mark_first-theme {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px; }
  .appeal__mark_first-theme::before {
    position: absolute;
    top: 60%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    content: url(../img/unchecked-mark2-little.png); }
  .appeal__mark_first-theme:hover::before {
    content: url(../img/checked-mark2-little.png); }

.appeal__mark_marked::before {
  position: absolute;
  top: 60%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30px;
  content: url(../img/checked-mark2-little.png); }

.appeal__edit_first-theme {
  margin-right: 5px; }

.appeal__edit_first-theme,
.appeal__print_first-theme {
  display: inline-block; }

.appeal__not-viewed_first-theme {
  display: inline-block; }

.appeal__not-viewed_first-theme .appeal__img_first-theme {
  vertical-align: middle;
  border: none; }

.appeal__arrows_first-theme {
  margin: 0 30px 10px 30px;
  position: relative;
  height: 30px; }
  .appeal__arrows_first-theme .appeal__img_first-theme {
    position: absolute;
    right: 0;
    width: 20px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .appeal__arrows_first-theme .appeal__arrows_up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.appeal__text_first-theme {
  margin: 20px 29px;
  line-height: 24px;
  text-transform: uppercase; }

.appeal__text_first-theme .appeal__ellipsis-span_close {
  display: none; }
