@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #08121e;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  /* добавим плавность переходов для всех элементов страницы*/ }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

body {
  background-color: #F6F9FF; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #17375c;
  -webkit-box-shadow: 0px 0px 3px #000 inset;
  box-shadow: 0px 0px 3px #000 inset;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #DAA21B;
  -webkit-box-shadow: 0px 1px 1px #5473A4 inset;
  box-shadow: 0px 1px 1px #5473A4 inset;
  background-image: url(/img/three-lines.png);
  background-size: 11px;
  background-position: center;
  background-repeat: no-repeat; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 0px; }

::-webkit-scrollbar {
  width: 11px; }

.wrapper_first-theme {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1920px;
  width: 100%;
  height: 100%; }

.header_first-theme {
  margin: 0 auto 10px;
  line-height: 55px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#10243b), color-stop(#132c48), color-stop(#153355), color-stop(#193b62), to(#1c4370));
  background-image: -webkit-linear-gradient(right top, #10243b, #132c48, #153355, #193b62, #1c4370);
  background-image: -o-linear-gradient(right top, #10243b, #132c48, #153355, #193b62, #1c4370);
  background-image: linear-gradient(to left bottom, #10243b, #132c48, #153355, #193b62, #1c4370); }

.header__global-navigation_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #214f84; }
  .header__global-navigation_first-theme .header__h1_first-theme {
    margin: 0 10px;
    padding: 0;
    font-size: 36px;
    color: white; }
  .header__global-navigation_first-theme .header__nav_first-theme,
  .header__global-navigation_first-theme .date-ul_first-theme {
    margin: 0;
    padding: 0; }
  .header__global-navigation_first-theme .header__nav_first-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.search-information_first-theme {
  margin: 0 auto;
  width: 770px; }

.search_first-theme {
  padding: 5px;
  border: 2px solid #17375c;
  border-radius: 5px;
  background-color: #E0F1FF; }

.search__form_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.search__textarea_first-theme {
  width: 210px; }

.search__by-text_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.radio_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .radio_first-theme:first-child {
    margin-right: 15px; }

.radio__input_first-theme {
  margin: 5px 5px 5px 0; }

.search__p_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.search__button_first-theme {
  margin: 5px;
  height: 20px; }

.nav__img_first-theme,
.appeal__img_first-theme {
  margin: 0 2px;
  width: 20px; }

.nav__ul_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.nav__li_first-theme,
.sections__li_first-theme,
.section-navigation__li_first-theme {
  display: inline-block; }

.section-navigation__li_first-theme {
  margin-left: 3px;
  padding-right: 8px;
  vertical-align: middle;
  line-height: 2;
  border-right: 2px solid #214f84; }
  .section-navigation__li_first-theme:first-child::before {
    content: ">";
    color: white;
    margin-right: 10px; }
  .section-navigation__li_first-theme:last-child {
    border: none; }
  .section-navigation__li_first-theme:hover {
    background-color: #17375c; }

.nav__li_first-theme {
  margin-right: 10px; }
  .nav__li_first-theme:last-child {
    width: 20px;
    height: 20px; }

.nav__link_first-theme {
  position: relative;
  font-size: 16px;
  color: white; }
  .nav__link_first-theme .nav__img_first-theme {
    position: absolute;
    border: 1px solid white;
    border-radius: 5px; }

.nav__link_first-theme,
.sections__link_first-theme,
.section-navigation__link_first-theme,
.search__link_first-theme {
  text-decoration: none; }

.sections__link_first-theme,
.sections__current-section__first-theme {
  color: white; }

.sections__li_first-theme {
  margin: 0 5px 5px;
  border-bottom: 2px solid #214f84; }
  .sections__li_first-theme:first-child {
    margin-top: 5px; }
  .sections__li_first-theme:last-child {
    border: none; }

.section-navigation__link_first-theme {
  color: white; }

.section-navigation__link_open-section {
  text-decoration: underline; }

.sections_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__button-wrapper_first-theme {
  width: 196px;
  position: relative; }

.sections__button_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  padding: 5px;
  width: 165px;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#183658), color-stop(#1a3d64), color-stop(#1d4471), color-stop(#204c7d), to(#23538a));
  background-image: -webkit-linear-gradient(left top, #183658, #1a3d64, #1d4471, #204c7d, #23538a);
  background-image: -o-linear-gradient(left top, #183658, #1a3d64, #1d4471, #204c7d, #23538a);
  background-image: linear-gradient(to right bottom, #183658, #1a3d64, #1d4471, #204c7d, #23538a);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
  color: white;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer; }
  .sections__button_first-theme:hover {
    border-radius: 5px; }
  .sections__button_first-theme:focus {
    outline: none !important; }
  .sections__button_first-theme:active {
    background-color: #1c4370;
    border: white 1px solid;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important; }

.sections__img_first-theme {
  display: block;
  width: 10px; }

.sections__ul_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 15px auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1c4370;
  width: 165px;
  line-height: 21px;
  border: 2px solid #E0F1FF;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 9999; }

.sections_first-theme .sections__ul_close,
.appeal__rest-text-span_close {
  display: none; }

.section-navigation__nav_first-theme {
  margin: 0 10px 0 0; }

.content-wrapper_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dates-sidebar_first-theme {
  width: 196px;
  overflow-x: hidden;
  overflow-y: overlay;
  border: 2px solid #17375c;
  border-radius: 5px;
  background-color: #17375c; }

.date_first-theme {
  margin: 5px auto;
  width: 134px; }
  .date_first-theme:first-child {
    margin-top: 10px; }
  .date_first-theme:last-child {
    margin-bottom: 10px; }

.date__name_first-theme {
  margin: 0 auto;
  padding: 5px 11px;
  border: 1px solid #08121e;
  border-radius: 5px;
  background-color: #E0F1FF; }
  .date__name_first-theme:hover {
    background-color: #5473A4;
    color: white; }
    .date__name_first-theme:hover .date__day_first-theme,
    .date__name_first-theme:hover .date__month_first-theme {
      color: white; }
      .date__name_first-theme:hover .date__day_first-theme::before,
      .date__name_first-theme:hover .date__month_first-theme::before {
        color: white; }

.date__name_arrow-right::before {
  content: ">";
  margin-right: 10px; }

.date__name_arrow-down {
  background-color: #5473A4;
  color: white; }
  .date__name_arrow-down .date__day_first-theme,
  .date__name_arrow-down .date__month_first-theme {
    color: white; }
    .date__name_arrow-down .date__day_first-theme::before,
    .date__name_arrow-down .date__month_first-theme::before {
      color: white;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
  .date__name_arrow-down::before {
    content: "v";
    margin-right: 10px;
    color: white;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.date__ul_first-theme {
  margin: 5px auto;
  padding: 5px 0;
  background-color: #E0F1FF;
  border-radius: 5px; }

.date__ul_close {
  display: none; }

.date__li_first-theme {
  position: relative;
  list-style-type: none;
  margin-left: 30px; }
  .date__li_first-theme:hover {
    text-decoration: underline; }

.date__li_selected .date__time-span_first-theme {
  color: white;
  background-color: #5473A4; }

.date__li_selected .date__start-hour-span_first-theme,
.date__li_selected .date__start-minutes-span_first-theme,
.date__li_selected .date__end-hour-span_first-theme,
.date__li_selected .date__end-minutes-span_first-theme,
.date__li_selected .date__appeal-refresh-span_first-theme {
  color: white; }

.date__appeal-refresh-span_close {
  display: none; }

.main-content_first-theme {
  margin: 0 auto; }

.main-content__h2_first-theme {
  margin: 10px;
  font-size: 26px;
  text-align: center; }
  .main-content__h2_first-theme .main-content__date-span_first-theme,
  .main-content__h2_first-theme .main-content__time-span_first-theme,
  .main-content__h2_first-theme .main-content__day__first-theme,
  .main-content__h2_first-theme .main-content__month__first-theme {
    font-size: 26px; }

.appeals-container_first-theme {
  margin: 0 auto;
  width: 812px;
  overflow-x: hidden;
  overflow-y: overlay; }

.selected-appeals_first-theme {
  text-align: right; }

.appeal_first-theme {
  margin: 10px auto;
  width: 770px;
  border: 1px solid #08121e;
  border-radius: 5px; }

.appeal__wrapper_first-theme {
  position: relative;
  width: 770px; }

.appeal__status_first-theme {
  margin: 0 5px;
  font-style: italic; }

.appeal__information_first-theme {
  display: inline-block;
  margin: 5px; }

.appeal__interactions_first-theme {
  position: relative;
  display: inline-block;
  float: right;
  margin: 5px; }

.appeal__img_first-theme {
  border: 1px solid #08121e;
  border-radius: 5px; }

.appeal__mark_first-theme {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #08121e;
  border-radius: 5px; }

.appeal__mark_marked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  content: "\2714";
  color: green; }

.appeal__edit_first-theme,
.appeal__print_first-theme {
  display: inline-block; }

.appeal__open-all-text_first-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .appeal__open-all-text_first-theme .appeal__arrows_up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.appeal__arrows_first-theme {
  margin: 0 5px 5px 5px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #08121e;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }
  .appeal__arrows_first-theme .appeal__img_first-theme {
    display: block;
    margin: 0 auto;
    width: 13px;
    border: none;
    margin-top: 3px; }
    .appeal__arrows_first-theme .appeal__img_first-theme:nth-child(2) {
      margin-top: -3px; }

.appeal__text_first-theme {
  margin: 0 5px 5px;
  line-height: 21px;
  text-transform: uppercase; }

.appeal__text_first-theme .appeal__ellipsis-span_close {
  display: none; }

@media (max-width: 1000px) {
  .section-navigation__nav_first-theme {
    margin: 0 0 0 9px; } }
