@mixin button {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    outline: none;
    border: 1px solid #2e7fb2;
    border-radius: 5px;
    box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
    font-weight: bold;
    color: $textIconsColor;
    background-image: $headerBackgroundImage;
    transition: none;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to top, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);    
    }

    &:active {
        background-image: linear-gradient(to top, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9);    
    }
}