@import "variables";
// @import url('https://fonts.googleapis.com/css?family=PT+Sans|Rubik|Ubuntu:300i,400,400i,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic');

*, 
*:after, 
*:before {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    color: $primaryTextColor;
    transition: .3s ease-in-out;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    background-color: #F6F9FF;
}

::-webkit-scrollbar-button {
        background-image: url('');
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: $scrollbarBackgroundColor;
        // background-color: lighten(red, 90%);
        box-shadow: 0px 0px 3px #000 inset;
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        // background-color: #ffcb17;
        background-color: $scrollBarThumbColor;
        // box-shadow: 0px 1px 1px #fff inset;
        box-shadow: 0px 1px 1px $accentColor inset;
        background-image: url(/img/three-lines.png);
        background-size: $scrollbarWidth;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    ::-webkit-resizer{
        background-image: url('');
        background-repeat: no-repeat;
        width: 7px;
        height: 0px
    }
    
    ::-webkit-scrollbar{
        width: $scrollbarWidth;
    }

// /* 1 - вертикальный скроллбар */
// ::-webkit-scrollbar { 
//     // width: 22px; 
//     width: 12px;
// }
// /* 1 - горизонтальный скроллбар */
// ::-webkit-scrollbar:horizontal { 
//     // height: 22px; 
// }
// /* 2 - кнопка */
// ::-webkit-scrollbar-button {
//     background: #008000; 
// }
// /* 3 - трек */
// // Ползунок в неактивном состоянии будет выглядеть как сплошной прямоугольник серого цвета (без границы)
// ::-webkit-scrollbar-track {
//     // background: #008000;
//     border-width:0;

//     // При наведении курсора на ползунок, делаем его темнее и добавляем границу.
//     &:hover {
//         border-left: solid 1px #aaa;
//         background-color: #eee;
//     }
// }
// /* 4 – видимая часть трека */
// ::-webkit-scrollbar-track-piece { 
//     // background: #32CD32;  
// }
// /* 5 - ползунок */
// // оформлением полосы прокрутки (светлосерый фон, серая граница, делаем границу чуть толще с левой стороны)
// ::-webkit-scrollbar-thumb {
//     // background: #008000; 
//     // border-radius: 10px; 
//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-width:1px 1px 1px 2px;
//     border-color: #777;
//     background-color: #aaa;

//     // При наведении курсора (:hover) на полосу прокрутки делаем её более тёмной:
//     &:hover {
//         border-width: 1px 1px 1px 2px;
//         border-color: #555;
//         background-color: #777;
//     }
// }

.wrapper_first-theme {
    margin: 0 auto;
    // padding: 0 15px;
    min-width: 1000px;
    max-width: 1920px;
    width: 80%;
    // height: 100%;
    // background-color: lightseagreen;
}

.header_first-theme {
    margin: 0 auto 10px;
    line-height: 55px;
    border-radius: 0 0 5px 5px;
    // background-image: linear-gradient(to left bottom, #10243b, #132c48, #153355, #193b62, #1c4370);
    background-color: $headerBackgroundColor;
}

.header__global-navigation_first-theme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $borderColor;

    .header__h1_first-theme {
        // margin: 0 10px;
        margin: 5px 15px;
        padding: 0;
        font-size: 36px;
        color: $textIconsColor; 
    }

    .header__nav_first-theme,
    .date-ul_first-theme {
        margin: 0;
        padding: 0;
    }

    .header__nav_first-theme {
        display: flex;
        align-items: center;
    }
}

.search-information_first-theme {
    // margin: 0 auto 10px;
    // margin: 0 20px;
    margin: 0 0 10px 0;
    // width: 770px;
    width: 887px;
    // width: 70%;
    // height: 125px;
    // background-color: red;
    // border: 1px solid $primaryTextColor;
}

.search_first-theme {
    border: 2px solid $darkPrimaryColor;
    border-radius: 5px;
    background-color: $buttonColor;
}

.search__form_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__textarea_first-theme {
    width: 205px;
    // height: 30px;
    // outline: none;
    resize: none;
    border: 1px solid $darkPrimaryColor;
}

.search__by-text_first-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.search__switch-button_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search__by-appeal-number_first-theme {
    margin: 10px;
}

.search__by-telephone-number_first-theme {
    margin: 10px;
}

.search__button_first-theme {
    margin: 10px;
    width: 70px;
    height: 23px;
}

.switch-button_first-theme {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px auto;
    width: 205px;
    border-radius: 5px;
    border:1px solid gray;
    height: 21px;
    overflow: hidden;
    background-color:white;
     
    input[type="radio"],
    .switch-button__input_first-theme {
        display: none;
    }

    input[type="radio"] + label,
    .switch-button__label_first-theme {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-align: center;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        line-height: 1;
        text-overflow: ellipsis;
        // color: darken($textIconsColor, 45%);
        color: $notActiveColor;
        cursor: pointer;
    }

     input[type="radio"]:checked + label,
     .switch-button__label_first-theme:checked .switch-button__label_first-theme {
        color: darken($textIconsColor, 5%);
        background-color: $accentColor;
        // width: 50%;
    }

  }

.search__p_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

.nav__img_first-theme,
.appeal__img_first-theme {
    margin: 0 2px;
    width: 20px;
}

.nav__ul_first-theme {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.nav__li_first-theme,
.sections__li_first-theme,
.section-navigation__li_first-theme {
    display: inline-block;
    // margin: 5px;
}

.section-navigation__li_first-theme {
    margin-left: 3px;
    padding-right: 8px;
    // padding: 4px;
    vertical-align: middle;
    line-height: 2;
    border-right: 2px solid $borderColor; 
    // border: 1px solid $primaryTextColor; 

    &:first-child {
        &::before {
            content: ">";
            color: $textIconsColor;
            margin-right: 10px;
            // content: url(/img/open-menu.png);
            // height: 16px;
        }
    }

    &:last-child {
        border: none;
    }

    &:hover {
        background-color: $darkPrimaryColor;
    }
}

.nav__li_first-theme {
    // margin-right: 10px;
    margin: 0 15px;

    &:last-child {
        // width: 200px;
        width: 20px;
        height: 20px;
        // border: 1px solid $primaryTextColor;
        // background-color: red;
    }


}

.nav__link_first-theme {
    position: relative;
    font-size: 16px;
    color: $textIconsColor;

    .nav__img_first-theme {
        position: absolute;
        border: 1px solid $textIconsColor;
        border-radius: 5px;
    }
}

.nav__link_first-theme,
.sections__link_first-theme,
.section-navigation__link_first-theme, 
.search__link_first-theme {
    text-decoration: none;
}

.sections__link_first-theme,
.sections__current-section__first-theme {
    // text-transform: uppercase;
    // font-weight: bold;
    color: $textIconsColor;
}

.sections__current-section__first-theme {
    // margin-right: 2px;
    margin-right: 5px;
}

.sections__li_first-theme {
    margin: 0 5px 5px; 
    border-bottom: 2px solid $borderColor;
    
    &:first-child {
        margin-top: 5px;
    }

    &:last-child {
        border: none
    } 
}

.section-navigation__link_first-theme {
    color: $textIconsColor;
}

.section-navigation__link_open-section {
    text-decoration: underline;
}

.sections_first-theme {
    // position: relative;
    display: flex;
    // margin: 0 10px;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;

    // background-color: #4e4f54;
}

.section__button-wrapper_first-theme {
    // width: 196px;
    position: relative;
    margin: 10px 15px;
}

.sections__button_first-theme {
    display: flex;
    // margin: 6px 0 12px;
    margin: 0 auto;
    padding: 5px;
    width: $buttonWidth;
    height: $buttonHeight;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    // background-image: linear-gradient(to right bottom, #183658, #1a3d64, #1d4471, #204c7d, #23538a);
    background-color: $accentColor;
    border-radius: 5px;
    box-shadow: 0px 2px 0 white, 2px 4px 6px #eee;
    color: $textIconsColor;
    // color: $primaryTextColor;
    transition: none;
    cursor: pointer;

    &:hover {
        border-radius: 5px;
        // background-color: lighten($primaryColor, 18%);
        // box-shadow: 0px 2px 0 white, 2px 4px 6px #eee inset;
        // box-shadow: inset 0 0 0 rgba(0, 0, 0, .2),
        // 0 0 1px rgba(0, 0, 0, 0);     
    }

    &:focus {
        outline: none !important;
    }

    &:active {
        // opacity: 0.5;
        background-color: $primaryColor;
        border: $textIconsColor 1px solid;
        border-radius: 5px;
        box-shadow: none;
        outline: none !important;
    }

}

.sections__img_first-theme {
    // display: block;
    // margin-right: 2px;
    width: 10px;
}

.sections__ul_first-theme {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 15px auto 0;
    flex-direction: column;
    width: $buttonWidth;
    line-height: 21px;
    border: 2px solid $buttonColor;
    // border: 2px solid $borderColor;
    border-radius: 5px;
    // background-color: darken($primaryColor, 0%);
    background-color: $accentColor;
    // box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    z-index: 9999;
}

.sections_first-theme .sections__ul_close,
.appeal__rest-text-span_close {
    display: none;
}

.section-navigation__nav_first-theme {
    margin: 0 10px 0 0;
}

.section-navigation__ul_first-theme {
    // display: flex;
    // position: relative;
    // line-height: 55px;
    // flex-direction: row;

    // &::before {
    //     display: block;
    //     position: absolute;
    //     top: -10px;
    //     right: -10px;
    //     width: 40px;
    //     height: 40px;
    //     content: "";
    //     background-image: url(/img/expand_more2.png);
    //     transform: rotate(270deg);
    // //     // height: 15px;
    // }
}

.content-wrapper_first-theme {
    display: flex;
    // margin: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dates-sidebar_first-theme {
    // display: block;
    // float: left;
    // margin: 0 10px 10px 10px;
    // margin-left: 10px;
    margin-right: 30px;
    // width: 240px;
    width: 17%;
    // width: $buttonWidth + 10px + 4px; // 
    // height: calc(100vh - 90px - 20px); // - header height - global margin
    // padding: 5px;
    // overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    // border: 2px solid $darkPrimaryColor;
    border-radius: 5px;
    background-color: $headerBackgroundColor;
    // background-color: lighten($primaryColor, 20%);
}

.date_first-theme {
    margin: 5px auto;
    width: $buttonWidth - 20px - $scrollbarWidth;
    // background-color: $buttonColor;

    &:first-child {
        margin-top: 10px;
    } 

    &:last-child {
        margin-bottom: 10px;
    } 
}

.date__name_first-theme {
    margin: 0 auto;
    padding: 5px 11px;
    border: 1px solid $primaryTextColor;
    border-radius: 5px;
    background-color: $buttonColor;
    // background-color: lighten($buttonColor, 20%);

    &:hover {
        background-color: $accentColor;
        // background-color: lighten($buttonColor, 20%);

        .date__day_first-theme,
        .date__month_first-theme {
            color: $textIconsColor;

            &::before {
                color: $textIconsColor;
            }
        }
        color: $textIconsColor;
    }
}

.date__name_arrow-right {
    &::before {
        content: ">";
        margin-right: 10px;
    } 
}

.date__name_arrow-down {
    // background-color: $buttonColor;
    background-color: $accentColor;
    color: $textIconsColor;

    .date__day_first-theme,
        .date__month_first-theme {
            color: $textIconsColor;

            &::before {
                color: $textIconsColor;
                transition: none;
            }
    }

    &::before {
        content: "v";
        margin-right: 10px;
        color: $textIconsColor;
        transition: none;
    } 
}

.date__ul_first-theme {
    margin: 5px auto;
    padding: 5px 0;
    // margin: 5px 17px 5px 24px;
    background-color: $buttonColor;
    border-radius: 5px;
}

.date__ul_close {
    display: none;
}

.date__li_first-theme {
    position: relative;
    list-style-type: none;
    margin-left: 30px;
    // text-align: center;

    &:hover {
        text-decoration: underline;
    }
}

.date__li_selected {
    // &::after {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     margin-left: 5px;
    //     content: "\27F3";
    //     // width: 20px;
    // }
    // background-color: lighten($primaryTextColor, 60%);
    // background-color: $accentColor;
    
    .date__time-span_first-theme {
        color: $textIconsColor;
        background-color: $accentColor;
    }
    // .date__appeal-refresh-span_first-theme {
    //     background-color: $buttonColor;
    //     // color: $primaryTextColor;
    // } 

    .date__start-hour-span_first-theme,
    .date__start-minutes-span_first-theme,
    .date__end-hour-span_first-theme,
    .date__end-minutes-span_first-theme,
    .date__appeal-refresh-span_first-theme {
        color: $textIconsColor;
    }
}

.date__appeal-refresh-span_close {
    display: none;
}

.main-content_first-theme {
    // width: 824px;
    margin: 0 auto;
    // width: 85%;
    // margin: 0 auto 10px;
    // background-color: lawngreen;
}

.main-content__h2_first-theme {
    margin: 10px;
    font-size: 26px;
    text-align: center;

    .main-content__date-span_first-theme,
    .main-content__time-span_first-theme,
    .main-content__day__first-theme,
    .main-content__month__first-theme {
        font-size: 26px;
    }

}

.appeals-container_first-theme {
    // height: calc(100vh - 90px - 125px - 20px);
    margin: 0 auto;
    // width: 812px;
    // width: 887px;
    overflow-x: hidden;
    overflow-y: overlay;
    // background-color: lightseagreen;
}

.selected-appeals_first-theme {
    // position: fixed;
    // margin-right: 10px;
    text-align: right;
}

.appeal_first-theme {
    margin: 10px 0;
    // padding: 5px;
    // width: 845px;
    width: 1000px;
    // height: 140px;
    // border: 1px solid $primaryTextColor;
    // border-radius: 5px;
}

.appeal__wrapper_first-theme {
    // display: flex;
    // flex-direction: row;
    // width: 800px;
    position: relative;
    // width: 800px;
    // text-align: right;
    border: 1px solid $primaryTextColor;
    border-radius: 5px;
    // background-color: lime;
}

.appeal__date_first-theme {
    margin-right: 5px;
}

.appeal__status_first-theme {
    margin: 0 5px;
    font-style: italic;
}

.appeal__information_first-theme {
    display: inline-block;
    margin: 10px 30px 0;
    // position: absolute;
    // width: 650px;
}

.appeal__interactions_first-theme {
    // display: flex;
    position: relative;
    display: inline-block;
    float: right;
    margin: 10px 30px 0;
    // position: absolute;
    // width: 120px;
    // right: 0;
    // flex-direction: row;
    // justify-content: flex-end;
}

.appeal__img_first-theme {
    border: 1px solid $primaryTextColor;
    border-radius: 5px;
}

// .appeal__mark_first-theme,
// .appeal__edit_first-theme,
// .appeal__print_first-theme {
//     background-color: $darkPrimaryColor;
// }

.appeal__mark_first-theme {
    position: relative;
    display: inline-block;
    // margin: 0 2px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid $primaryTextColor;
    border-radius: 5px;
}

.appeal__mark_marked {
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        content: "\2714";
        color: green;
    }
}

.appeal__edit_first-theme {
    margin-right: 5px;
}

.appeal__edit_first-theme,
.appeal__print_first-theme {
    display: inline-block;
}

.appeal-interactions2_first-theme {
    display: flex;
    margin: 0 30px 10px 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.appeal__not-viewed_margin-left {
    margin-left: 10px;
}

.appeal__open-all-text_first-theme {
    // display: flex;
    // margin: 0 30px 10px 10px;
    // width: 20px;
    // flex-direction: row;
    // justify-content: flex-end;

    .appeal__arrows_up {
        transform: rotate(180deg);
        transition: none;
    }
}

.appeal__not-viewed_first-theme .appeal__img_first-theme {
    border: none;
}

.appeal__arrows_first-theme {
    // margin: 0 30px 10px 10px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid $primaryTextColor;
    transition: none;

    .appeal__img_first-theme {
        display: block;
        margin: 0 auto;
        width: 13px;
        border: none;
        margin-top: 3px;
        
        &:nth-child(2) {
            margin-top: -3px; 
        }
    }
}

.appeal__text_first-theme {
    // margin: 20px;
    margin: 20px 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.appeal__text_first-theme .appeal__ellipsis-span_close {
    display: none;
}

@media (max-width: 1000px) {
    .section-navigation__nav_first-theme {
        margin: 0 0 0 9px;
    }
}



