@import "variables";

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    // font-family: sans-serif;
    // font-family: Verdana, sans-serif;
    // color: $textColor;
}

.wrapper_first-theme {
    min-width: 1024px;
    max-width: 1024px;
    margin: 10px auto;
}

.header_first-theme {
    // position: fixed;
    width: 1024px;
    height: 90px;
    border: 1px solid black;
    // background-color: lightseagreen;
    // z-index: 9999;
}

.header__global-navigation_first-theme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid black;

    .header__h1_first-theme {
        margin: 0;
        padding: 0;
        font-size: 36px;
    }

    .header__nav_first-theme,
    .date-ul_first-theme {
        margin: 0;
        padding: 0;
    }
}

.search-information_first-theme {
    margin: 0 auto;
    width: 770px;
    height: 125px;
    // background-color: red;
    // border: 1px solid black;
}

.search_first-theme {
    padding: 5px;
    border: 1px solid black;
    // background-color: lightpink;
}

.search__form_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__textarea_first-theme {
    width: 210px;
}

.search__by-text_first-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.radio_first-theme {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-child {
        margin-right: 15px;
    }
}

.radio__input_first-theme {
    margin: 5px 5px 5px 0; // подумать как лучше прописать
}

.search__p_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

.search__button_first-theme {
    height: 20px;
}

.nav__img_first-theme,
.sections-navigation__img_first-theme,
.appeal__img_first-theme {
    margin: 0 2px;
    width: 20px;
}

.sections-navigation__img_first-theme {
    margin-top: 2px;
}

.nav__ul_first-theme {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-end;

}

.nav__li_first-theme,
.sections-navigation__li_first-theme,
.section-navigation__li_first-theme {
    display: inline-block;
    margin: 5px;
}

.nav__link_first-theme {
    font-size: 18px;
}

.nav__link_first-theme,
.sections-navigation__link_first-theme,
.section-navigation__link_first-theme, 
.search__link_first-theme {
    text-decoration: none;
}

.sections-navigation_first-theme {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sections-navigation__ul_first-theme {
    position: absolute;
    display: flex;
    margin-top: $buttonHeight;
    flex-direction: column;  
    background-color: mediumaquamarine;
    width: 150px;
    z-index: 9999;
}

.sections-navigation__button_first-theme {
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    height: $buttonHeight;
    width: 150px;
}

.sections-navigation_first-theme .sections-navigation__ul_close,
.appeal__rest-text-span_close {
    display: none;
}

.section-navigation__ul_first-theme {
    display: flex;
    flex-direction: row;
}

.content-wrapper_first-theme {
    display: flex;
    flex-direction: row;
}

.dates-sidebar_first-theme {
    display: block;
    float: left;
    width: 200px;
    height: calc(100vh - 90px - 20px); // - header height - global margin
    // padding: 5px;
    // overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    // background-color: palevioletred;
    border: 1px solid black;
}

.date_first-theme {
    margin: 5px 10px;
}

.date__name_first-theme {
    padding: 5px 10px;
    // background-color: peachpuff;
    border: 1px solid black;
}

.date__ul_first-theme {
    padding: 5px 10px;
}

.date__ul_close {
    display: none;
}

.date__li_first-theme {
    list-style-type: none;

    &:hover {
        background-color: olivedrab;
        &::after {
            margin-left: 5px;
            content: "\27F3";
            // width: 20px;
        }
    }
}

.main-content_first-theme {
    // margin: 100px 10px 0 225px;
    width: 824px;
}

.main-content__h2_first-theme {
    font-size: 26px;
    text-align: center;
    // background-color: mediumvioletred;
    // z-index: 9999;
}

.appeals-container_first-theme {
    height: calc(100vh - 90px - 125px);
    overflow-x: hidden;
    overflow-y: overlay;
}

.selected-appeals_first-theme {
    // position: fixed;
    text-align: right;
}

.appeal_first-theme {
    margin: 10px auto;
    // padding: 5px;
    width: 770px;
    // height: 140px;
    border: 1px solid black;
}

.appeal__wrapper_first-theme {
    // display: flex;
    // flex-direction: row;
    // width: 800px;
    position: relative;
    width: 770px;
    // text-align: right;
}

.appeal__information_first-theme {
    display: inline-block;
    // position: absolute;
    // width: 650px;
}

.appeal__interactions_first-theme {
    // display: flex;
    position: relative;
    display: inline-block;
    float: right;
    // position: absolute;
    // width: 120px;
    // right: 0;
    // flex-direction: row;
    // justify-content: flex-end;
}

.appeal__img_first-theme {
    border: 1px solid black;
}
.appeal__mark_first-theme {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    width: 20px;
    height: 20px;
    border: 1px solid black;

    &:hover {
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            content: "\2714";
            font-size: 16px;
        }
    }
}

.appeal__mark_marked {
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        content: "\2714";
        font-size: 16px;
    }
}

.appeal__edit_first-theme,
.appeal__print_first-theme {
    display: inline-block;
}

.appeal__open-all-text_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .appeal__arrows_up {
        transform: rotate(180deg);
    }

}

.appeal__arrows_first-theme {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    border: 1px solid black;

    .appeal__img_first-theme {
        margin: 0;
        border: none;
        margin-top: -2px;
        
        &:nth-child(2) {
            margin-top: -15px; 
        }
    }
}

.appeal__text_first-theme .appeal__ellipsis-span_close {
    display: none;
}



