@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic');

*, 
*:after, 
*:before {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    color: $primaryTextColor;
    transition: .3s ease-in-out;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    background-image: linear-gradient(to bottom, #84add1, #92b6d6, #a1c0db, #afc9e1, #bdd3e6);
}

::-webkit-scrollbar-button {
        background-image: url('');
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: $scrollbarBackgroundColor;
        box-shadow: 0px 0px 3px #000 inset;
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: $scrollBarThumbColor;
        box-shadow: 0px 1px 1px $accentColor inset;
        background-image: url(../img/three-lines.png);
        background-size: $scrollbarWidth;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    ::-webkit-resizer{
        background-image: url('');
        background-repeat: no-repeat;
        width: 7px;
        height: 0px
    }
    
    ::-webkit-scrollbar{
        width: $scrollbarWidth;
    }

.wrapper_first-theme {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1920px;
    width: 80%;
    background-color:#e4f0f5;
}

.header_first-theme {
    margin: 0 auto 10px;
    line-height: 55px;
    border-radius: 0 0 5px 5px;    
}

.header__global-navigation_first-theme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-image: $headerBackgroundImage;

    .header__h1_first-theme {
        margin: 5px 15px;
        padding: 0;
        font-size: 38px;
        color: $textIconsColor; 
    }

    .header__nav_first-theme,
    .date-ul_first-theme {
        margin: 0;
        padding: 0;
    }

    .header__nav_first-theme {
        display: flex;
        align-items: center;
    }
}

.search-information_first-theme {
    margin: 0;
}

.selected-appeals_first-theme {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: right;
    background-color: #f3fafd;
}

.selected-appeals__span_first-theme {
    font-weight: bold;
}

.selected-appeals__link_first-theme {
    margin-right: $scrollbarWidth;
}

.search__form_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto 20px;
}

.search__textarea_first-theme {
    width: 230px;
    outline: none;
    resize: none;
    border-radius: 5px;
    
    &:hover {
        border: 1px solid #4bb8f6;
    }

    &:focus {
        border: 1px solid #4bb8f6;
    }
}

.search__by-text_first-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.search__by-appeal-number_first-theme {
    margin: 10px;
}

.search__by-telephone-number_first-theme {
    margin: 10px;
}

.search__button_first-theme {
    @include button;
    margin: 10px;
    width: 70px;
    height: $buttonHeight;
}

.switch-button_first-theme {
    display: flex;
    position: relative;
    margin: 5px auto;
    width: 230px;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid gray;
    height: 21px;
    overflow: hidden;
    background-color:white;
     
    .switch-button__input_first-theme {
        display: none;
    }

    .switch-button__label_first-theme {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 18px;
        text-align: center;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        line-height: 1;
        text-overflow: ellipsis;
        color: $notActiveColor;
        cursor: pointer;

        &:hover {
            color: darken($notActiveColor, 20%);
            background-color: lighten($notActiveColor, 30%);
        }
    }

    .switch-button__input_first-theme[type="radio"]:checked + .switch-button__label_first-theme {
        color: darken($textIconsColor, 5%);
        background-image: $headerBackgroundImage;

        &:hover {
            background-image: linear-gradient(to top, #179ce7, #2ea5ec, #3faef0, #4eb7f5, #5cc0f9);    
        }
    }

  }

.search__p_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

.nav__img_first-theme,
.appeal__img_first-theme {
    width: 30px;
}

.nav__ul_first-theme {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.nav__li_first-theme,
.sections__li_first-theme,
.section-navigation__li_first-theme {
    display: inline-block;
}

.section-navigation__li_first-theme {
    margin-left: 3px;
    padding-right: 8px;
    vertical-align: middle;
    line-height: 2;
    border-right: 2px solid lighten(#828080, 40%); 

    &:first-child {
        &::before {
            content: ">";
            color: #828080;
            margin-right: 10px;
        }
    }

    &:last-child {
        border: none;
    }

}

.nav__li_first-theme {
    margin: 0 15px;

    &:last-child {
        width: 30px;
        height: 30px;
    }


}

.nav__link_first-theme {
    position: relative;
    font-size: 18px;
    color: $textIconsColor;

    .nav__img_first-theme {
        position: absolute;
        border: 2px solid $textIconsColor;
        border-radius: 5px;
    }
}

.nav__link_first-theme,
.sections__link_first-theme,
.section-navigation__link_first-theme, 
.search__link_first-theme {
    text-decoration: none;
}

.sections__link_first-theme,
.sections__current-section__first-theme {
    font-weight: bold;
    color: $textIconsColor;
}

.sections__current-section__first-theme {
    margin-right: 5px;
}

.sections__li_first-theme {
    margin: 0 5px 5px; 
    border-bottom: 2px solid #e7e7e7;
    
    &:first-child {
        margin-top: 5px;
    }

    &:last-child {
        border: none
    } 
}

.section-navigation__link_first-theme {
    font-weight: bold;
    color: #828080;

    &:hover {
        color: lighten(#828080, 15%);
    }
}

.section-navigation__link_open-section {
    text-decoration: underline;
}

.sections_first-theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.section__button-wrapper_first-theme {
    position: relative;
    margin: 10px 15px;
}

.sections__button_first-theme {
    @include button;
    width: $buttonWidth;
    height: $buttonHeight;
}

.sections__img_first-theme {
    width: 10px;
}

.sections__ul_first-theme {
    display: flex;
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    margin: 15px auto 0;
    flex-direction: column;
    width: $buttonWidth;
    line-height: 24px;
    border: 2px solid $buttonColor;
    border-radius: 5px;
    // background-color: #1491d8;
    background-color: #1387c9;
    // background-image: linear-gradient(to top, #1387c9, #2491d1, #319bd9, #3ea5e1, #49afe9); 
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    z-index: 9999;
}

.sections_first-theme .sections__ul_close,
.appeal__rest-text-span_close {
    display: none;
}

.section-navigation__nav_first-theme {
    margin: 0 10px 0 0;
}

.content-wrapper_first-theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dates-sidebar_first-theme {
    margin-right: 30px;
    width: 22%;
    overflow-x: hidden;
    overflow-y: overlay;
    border-radius: 5px;
}

.date_first-theme {
    margin: 5px auto;
    width: $buttonWidth - 20px - $scrollbarWidth;

    &:first-child {
        margin-top: 10px;
    } 

    &:last-child {
        margin-bottom: 10px;
    } 
}

.date__name_first-theme { 
    display: flex;
    margin: 0 auto;
    height: $buttonHeight;
    flex-direction: row;
    align-items: center;
    border: 2px solid #d9d9da;
    font-weight: bold;
    color: darken(#4bb8f6, 20%);
    border-radius: 5px;
    background-image: $dateNameBackgroundImage;
    
    .date__month_first-theme {
        margin-left: 5px;
    }

    .date__day_first-theme,
    .date__month_first-theme {
        font-weight: bold;
        color: darken(#4bb8f6, 20%);
    }

    &:hover {
        background-image: $dateNameHoverBackgroundImage;

        .date__day_first-theme,
        .date__month_first-theme {
            font-weight: bold;
            color: darken(#4bb8f6, 20%);

            &::before {
                font-weight: bold;
                color: darken(#4bb8f6, 20%);
            }
        }
        font-weight: bold;
        color: darken(#4bb8f6, 20%);
    }
}

.date__name_arrow-right {

    &::before {
        content: "\25b6";
        font-weight: bold;
        color: #ef8c08;
        margin: 0 10px;
        font-size: 15px;
    } 

}

.date__name_arrow-down {
    background-color: white;
    border: 2px solid #fbd850;
    border-radius: 5px 5px 0 0;
    color: #ef8c08;

    .date__day_first-theme,
    .date__month_first-theme {
        font-weight: bold;
        color: #ef8c08;
    }

    &::before {
        content: "\25bc";
        margin: 0 10px;
        font-weight: bold;
        font-size: 15px;
        color: #ef8c08;
        transition: none;
    } 
}

.date__ul_first-theme {
    margin: 5px auto;
    padding: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.date__ul_close {
    display: none;
}

.date__li_first-theme {
    position: relative;
    list-style-type: none;
    margin-left: 40px;
    margin-top: 15px;

    &:first-child {
        margin-top: 5px;
    }

    .date__time-span_first-theme {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }

    .date__start-hour-span_first-theme,
    .date__start-minutes-span_first-theme,
    .date__end-hour-span_first-theme,
    .date__end-minutes-span_first-theme,
    .date__appeal-refresh-span_first-theme {
        font-weight: bold;
    }

}

.date__li_selected {
    
    .date__time-span_first-theme {
        color: $textIconsColor;
        background-color: $accentColor;
    }

    .date__start-hour-span_first-theme,
    .date__start-minutes-span_first-theme,
    .date__end-hour-span_first-theme,
    .date__end-minutes-span_first-theme,
    .date__appeal-refresh-span_first-theme {
        color: $textIconsColor;
    }
}

.date__appeal-refresh-span_close {
    display: none;
}

.main-content_first-theme {
    margin: 0 auto;
    width: 75%;
}

.main-content__h2_first-theme,
.main-content__date-span_first-theme,
.main-content__day__first-theme,
.main-content__month__first-theme,
.main-content__time-span_first-theme {
    font-size: 30px;
}

.main-content__h2_first-theme {
    margin: 10px;
    text-align: center;

}

.appeals-container_first-theme {
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    background-color: #f3fafd;
}

.appeal_first-theme {
    margin: 0;
    width: 97%;
    border: 2px solid #e4f0f5;    

    &:first-child {
        margin-top: 10px;
    }

    &:nth-child(even) {
        background-color: #f3fafd;
    }

    &:nth-child(odd) {
        background-color: #ddeaf0;
    }

    &:hover {
        background-color: #ecfbd4;
    }

    
}

.appeal__wrapper_first-theme {
    position: relative;
}

.appeal__date_first-theme {
    margin-right: 5px;
    color: #818181;
}

.appeal__status_first-theme {
    margin: 0 5px;
    font-style: italic;
    color: #818181;
}

.appeal__information_first-theme {
    display: inline-block;
    margin: 10px 30px 0;

    .appeal__not-viewed_first-theme {
        position: relative;

        &::before {
            position: absolute;
            top: -22px;
            content: url(../img/not-viewed-little.png);
        }

        &:hover {
            &::before {
                top: -22px;
                content: url(../img/viewed-changed2.png);
            }
        }
    }
}

.appeal__interactions_first-theme {
    position: relative;
    display: inline-block;
    float: right;
    margin: 10px 30px 0;
}

.appeal__mark_first-theme {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;

    &::before {
        position: absolute;
        top: 60%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 30px;
        content: url(../img/unchecked-mark2-little.png);
    }

    &:hover {
        &::before {
            content: url(../img/checked-mark2-little.png);
        }
    }
}

.appeal__mark_marked {
    &::before {
        position: absolute;
        top: 60%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 30px;
        content: url(../img/checked-mark2-little.png);
    }
}

.appeal__edit_first-theme {
    margin-right: 5px;
}

.appeal__edit_first-theme,
.appeal__print_first-theme {
    display: inline-block;
}

.appeal__not-viewed_first-theme {
    display: inline-block;
}

.appeal__not-viewed_first-theme .appeal__img_first-theme {
    vertical-align: middle;
    border: none;
}

.appeal__arrows_first-theme {
    margin: 0 30px 10px 30px;
    position: relative;
    height: 30px;

    .appeal__img_first-theme {
        position: absolute;
        right: 0;
        width: 20px;
        transition: none;
    }

    .appeal__arrows_up {
        transform: rotate(180deg);
        transition: none;
    }

}

.appeal__text_first-theme {
    margin: 20px 29px;
    line-height: 24px;
    text-transform: uppercase;
}

.appeal__text_first-theme .appeal__ellipsis-span_close {
    display: none;
}