$primaryColor: #1c4370;
$darkPrimaryColor: darken($primaryColor, 5%);
$primaryTextColor: darken($primaryColor, 20%);
$textIconsColor: lighten($primaryColor, 80%);
$scrollbarWidth: 11px;
$borderColor: lighten($darkPrimaryColor, 10%);
$headerBackgroundColor: darken(#00a7fe, 15%);
$buttonHeight: 60px;
// $buttonWidth: 165px; 
// $buttonWidth: 185px; 
$buttonWidth: 210px; 
$buttonColor: #E0F1FF;
$accentColor: darken($headerBackgroundColor, 5%);
$scrollBarThumbColor: lighten(black, 45%);
$scrollbarBackgroundColor: white;
$notActiveColor: #8c8c8c;